@page
@model baslangic.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Ad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Ad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Tarih)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Tarih)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Kategori)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Kategori)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Fiyat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Fiyat)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Film.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
